<div class="page-header w3-white" data-parallax="true">
    <div class="container">
        <div class="text-center">
            <h1>بیا بنویسیم!</h1>
            <h3>با صدام میام همه جا تورو مینویسم روی اینه ی گریه هام گونه های خیسم.</h3>
            <br />
            <a href="#/editor" class="btn btn-outline-default btn-round">بنویس</a>
        </div>       
    </div>
</div>
<div class="main card-body">
    <!--<div class="section text-center">
        <div class="w3-row">

           
            <div class="w3-col l8 s12">
               
                <div class="w3-card-4 w3-margin w3-white">
                <img src="../../../assets/imgs/it.jpg" alt="Nature" style="width:100%">
                <div class="w3-container">
                    <h3><b>یادگیری ماشین</b></h3>
                    <h5>یادگیری عمیق, <span class="w3-opacity">1398/08/24</span></h5>
                </div>

                <div class="w3-container">
                    <p>در این آموزش ویدئویی، یکی از محبوب ترین و پرکاربردترین علوم حوزه هوش مصنوعی، یعنی یادگیری عمیق (Deep learning)، معرفی شده است. در این آموزش، علاوه بر آشنایی با مبانی تئوری یادگیری عمیق، تکنیک ها و مدل های مختلف آموزش شبکه های عصبی عمیق، قادر خواهید بود تا در عمل نیز به طراحی، پیاده سازی و آموزش این شبکه ها بپردازید. همچنین در این آموزش به کاربردهای آکادمیک و تحقیقاتی و هم به کاربردهای عملی یادگیری عمیق توجه شده است. در این آموزش، تمرکز بر روی محبوب ترین مدل و کاربرد یادگیری عمیق یعنی مدل شبکه عصبی کانولوشنی با کاربرد در بینایی ماشین و پردازش تصویر خواهد بود.</p>
                    <div class="w3-row">
                    <div class="w3-col m4 s12" dir="ltr">
                        <p><button mat-raised-button class="w3-indigo w3-green w3-border"><b> «  بیشتر</b></button></p>
                    </div>
                    <div class="w3-col m8 w3-hide-small">
                        <p><span class="w3-padding-large w3-right"><b>نظرها  </b> <span class="w3-tag">0</span></span></p>
                    </div>
                    </div>
                </div>
                </div>
                <hr>

            
                <div class="w3-card-4 w3-margin w3-white">
                <img src="../../../assets/imgs/it.jpg" alt="Nature" style="width:100%">
                <div class="w3-container">
                    <h3><b>یادگیری ماشین</b></h3>
                    <h5>یادگیری عمیق, <span class="w3-opacity">1398/08/24</span></h5>
                </div>

                <div class="w3-container">
                    <p>در این آموزش ویدئویی، یکی از محبوب ترین و پرکاربردترین علوم حوزه هوش مصنوعی، یعنی یادگیری عمیق (Deep learning)، معرفی شده است. در این آموزش، علاوه بر آشنایی با مبانی تئوری یادگیری عمیق، تکنیک ها و مدل های مختلف آموزش شبکه های عصبی عمیق، قادر خواهید بود تا در عمل نیز به طراحی، پیاده سازی و آموزش این شبکه ها بپردازید. همچنین در این آموزش به کاربردهای آکادمیک و تحقیقاتی و هم به کاربردهای عملی یادگیری عمیق توجه شده است. در این آموزش، تمرکز بر روی محبوب ترین مدل و کاربرد یادگیری عمیق یعنی مدل شبکه عصبی کانولوشنی با کاربرد در بینایی ماشین و پردازش تصویر خواهد بود.</p>
                    <div class="w3-row">
                    <div class="w3-col m4 s12" dir="ltr">
                        <p><button mat-raised-button class="w3-indigo w3-green w3-border"><b> «  بیشتر</b></button></p>
                    </div>
                    <div class="w3-col m8 w3-hide-small">
                        <p><span class="w3-padding-large w3-right"><b>نظرها  </b> <span class="w3-tag">0</span></span></p>
                    </div>
                    </div>
                </div>
                </div>
           
            </div>

           
            <div class="w3-col l4">
            
                <div class="w3-card w3-margin w3-margin-top">
                <img src="../../../assets/imgs/it.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4><b>My Name</b></h4>
                    <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                </div>
                </div><hr>

            
                <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4 class="w3-right w3-margin-top">برترین مقاله ها</h4>
                    <a href="#" class="w3-left w3-margin">همه</a>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                    <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">یادگیری ماشین</span><br>
                    <span>یادگیری عمیق</span>
                    </li>
                    <li class="w3-padding-16">
                    <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">یادگیری ماشین</span><br>
                    <span>یادگیری عمیق</span>
                    </li>
                    <li class="w3-padding-16">
                    <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">یادگیری ماشین</span><br>
                    <span>یادگیری عمیق</span>
                    </li>
                    <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                    <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">یادگیری ماشین</span><br>
                    <span>یادگیری عمیق</span>
                    </li>
                </ul>
                </div>
                <hr>

      
                <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>پیشنهادی برای شما</h4>
                </div>
                <div class="w3-container w3-white">
                    <ul class="w3-ul w3-hoverable w3-white">
                    <li class="w3-padding-16">
                        <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">یادگیری ماشین</span><br>
                        <span>یادگیری عمیق</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">یادگیری ماشین</span><br>
                        <span>یادگیری عمیق</span>
                    </li>
                    <li class="w3-padding-16">
                        <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">یادگیری ماشین</span><br>
                        <span>یادگیری عمیق</span>
                    </li>
                    <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                        <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">یادگیری ماشین</span><br>
                        <span>یادگیری عمیق</span>
                    </li>
                    </ul>
                </div>
                </div>


            </div>
        </div>
    </div>-->
    <div class="w3-row w3-margin-bottom">
        <div class="w3-col l9 s12">
            <div class="section">
                <div class="container">
                    <div class="tim-title text-right">
                        <h3>مقاله ها</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-5 text-right w3-margin-left w3-margin-right card" routerLinkActive="active">
                            <a [routerLink]="['/landing']">
                                <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            </a>
                            <div class="tim-title">
                                <h3>معرفی فریم ورک انگولار</h3>
                            </div>
                
                            <p>انگولار جی‌اس یک چهارچوب وب‌ اپلیکیشن متن باز است که اولین بار در سال ۲۰۰۹ توسط میسکو هوری و آدام آبرونز توسعه یافت. در حال حاضر این فریم‌ورک توسط گوگل توسعه داده می‌شود و آخرین نسخه آن 1.4.3 است.</p>
                            <div class="text-left w3-margin">
                                <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" class="btn btn-danger btn-round">ورود/ثبت نام</a>
                            </div>
                        </div>

                        <div class="col-md-5 text-right w3-margin-left w3-margin-right card" routerLinkActive="active">
                            <a [routerLink]="['/landing']">
                                <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            </a>
                            <div class="tim-title">
                                <h3>معرفی فریم ورک انگولار</h3>
                            </div>
                
                            <p>انگولار جی‌اس یک چهارچوب وب‌ اپلیکیشن متن باز است که اولین بار در سال ۲۰۰۹ توسط میسکو هوری و آدام آبرونز توسعه یافت. در حال حاضر این فریم‌ورک توسط گوگل توسعه داده می‌شود و آخرین نسخه آن 1.4.3 است.</p>
                            <div class="text-left w3-margin">
                                <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" class="btn btn-danger btn-round">ورود/ثبت نام</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center w3-margin">
                    <ngb-pagination [collectionSize]="100" [(page)]="page1" [rotate]="true"></ngb-pagination>
                </div>
            </div>
        </div>
        <div class="w3-col l3">
            <!-- Posts -->
            <div class="section">
                <div class="container">
                    <div class="tim-title text-right">
                        <a href="#">
                            <h3>برترین مقاله ها</h3>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#">
                            <div class="tim-title" style="margin-bottom:0">
                                <h4>
                                    معرفی فریم ورک انگولار
                                </h4>
                            </div></a>
                        <span class="note">علی ندیر خانلو</span>
                    </div>
                    <div class="text-right">
                        <a href="#">
                            <div class="tim-title" style="margin-bottom:0">
                                <h4>
                                    معرفی فریم ورک انگولار
                                </h4>
                            </div></a>
                        <span class="note">علی ندیر خانلو</span>
                    </div>
                    <div class="text-right">
                        <a href="#">
                            <div class="tim-title" style="margin-bottom:0">
                                <h4>
                                    معرفی فریم ورک انگولار
                                </h4>
                            </div></a>
                        <span class="note">علی ندیر خانلو</span>
                    </div>
                </div>
                <hr/>
                <div class="container">
                    <div class="tim-title text-right">
                        <a href="#">
                            <h3>پیشنهادی</h3>
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#">
                            <div class="tim-title" style="margin-bottom:0">
                                <h4>
                                    معرفی فریم ورک انگولار
                                </h4>
                            </div></a>
                        <span class="note">علی ندیر خانلو</span>
                    </div>
                </div>
            </div>

        </div>
    </div>


<!--
<div class="main">
    <div class="section section-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's talk product</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                    <br>
                    <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Beautiful Gallery</h4>
                            <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">New Ideas</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Statistics</h4>
                            <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Delightful design</h4>
                            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                            <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>-->
</div>
