<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/prof-img.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">علی ندیرخانلو<br /></h4>
                    <h6 class="description">برنامه نویس وب</h6>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>-->
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="منتشر شده ">
                            <ng-template ngbTabContent >
                                <div class="row">
                                    <div class="col-md-5 text-right w3-margin-left w3-margin-right card" routerLinkActive="active">
                                        <a [routerLink]="['/landing']">
                                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                                        </a>
                                        <div class="tim-title">
                                            <h3>معرفی فریم ورک انگولار</h3>
                                        </div>
                            
                                        <p>انگولار جی‌اس یک چهارچوب وب‌ اپلیکیشن متن باز است که اولین بار در سال ۲۰۰۹ توسط میسکو هوری و آدام آبرونز توسعه یافت. در حال حاضر این فریم‌ورک توسط گوگل توسعه داده می‌شود و آخرین نسخه آن 1.4.3 است.</p>
                                        <div class="text-left w3-margin">
                                            <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" class="btn btn-danger btn-round">ورود/ثبت نام</a>
                                        </div>
                                    </div>

                                    <div class="col-md-5 text-right w3-margin-left w3-margin-right card" routerLinkActive="active">
                                        <a [routerLink]="['/landing']">
                                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                                        </a>
                                        <div class="tim-title">
                                            <h3>معرفی فریم ورک انگولار</h3>
                                        </div>
                            
                                        <p>انگولار جی‌اس یک چهارچوب وب‌ اپلیکیشن متن باز است که اولین بار در سال ۲۰۰۹ توسط میسکو هوری و آدام آبرونز توسعه یافت. در حال حاضر این فریم‌ورک توسط گوگل توسعه داده می‌شود و آخرین نسخه آن 1.4.3 است.</p>
                                        <div class="text-left w3-margin">
                                            <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" class="btn btn-danger btn-round">ورود/ثبت نام</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="مورد علاقه">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">هنوز چیزی انتخاب نشده :(</h3>
                                <br>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="ذخیره شده">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">هنوز چیزی انتخاب نشده :(</h3>
                                <br>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
