<div class="section">
  <div class="section sec2 margin-top">
    <div class="container">
      <h2 class="title text-center">آگهی ها</h2>
    </div>
      <div class="banner-list">
        <div class="container pt-3">
          <div class="row">
            <div class="w3-col l3 container">
              <div class="container text-right">
                <h4 class="tim-title">فیلتر</h4>
                <div class="form-check text-right">
                  <label class="form-check-label" style="position: initial;">همه
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="form-check text-right">
                  <label class="form-check-label" style="position: initial;">استخدام
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign"></span>
                  </label>
                </div>

                <div class="form-check text-right">
                  <label class="form-check-label" style="position: initial;">پروژه
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
                <div class="radio">
                  <label>فوری</label>
                  <bSwitch class="w3-left"
                        [switch-on-color]="'primary'">
                  </bSwitch>
                </div>
                
              </div>
            </div>
            <div class="w3-col l9 s12"> 
              <div class="row">
                <div class="col-md-6 text-right w3-animate-bottom" routerLinkActive="active">
                  <div class="container p-3 card">
                    <div class="tim-title">
                        <h4>معرفی فریم ورک انگولار (AngularJS) و کاربرد آن</h4>
                    </div>
        
                    <p>انگولار جی‌اس یک چهارچوب وب‌ اپلیکیشن متن باز است که اولین بار در سال ۲۰۰۹ توسط میسکو هوری و آدام آبرونز توسعه یافت. در حال حاضر این فریم‌ورک توسط گوگل توسعه داده می‌شود و آخرین نسخه آن 1.4.3 است.</p>
                    <div class="text-center w3-margin">
                        <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" class="btn btn-danger btn-round">ورود/ثبت نام</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 text-right w3-animate-bottom" routerLinkActive="active">
                  <div class="container p-3 card">
                    <div class="tim-title">
                        <h4>معرفی فریم ورک انگولار (AngularJS) و کاربرد آن</h4>
                    </div>
        
                    <p>انگولار جی‌اس یک چهارچوب وب‌ اپلیکیشن متن باز است که اولین بار در سال ۲۰۰۹ توسط میسکو هوری و آدام آبرونز توسعه یافت. در حال حاضر این فریم‌ورک توسط گوگل توسعه داده می‌شود و آخرین نسخه آن 1.4.3 است.</p>
                    <div class="text-center w3-margin">
                        <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" class="btn btn-danger btn-round">ورود/ثبت نام</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
  </div>
</div>

